<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PouchDB Size Test</name>
    <description>
		Simple BB10 sample app.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
		Reid Holmes
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
